pymongo
Flask==1.1.4
markupsafe==2.0.1
APScheduler
flask_apscheduler
gunicorn

yfinance
dnspython
yahoo-fin
matplotlib
certifi
asyncio
python-dotenv
requests

pandas 
quantstats
numpy
yahoo_fin
openpyxl